/* =============================
   Global Base
   ============================= */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    color: #1f2937;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* =============================
   Layout Container (Sidebar + Content)
   ============================= */
.layout-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar-navigation{
    width: 15%;
    height: 100%;
}
.main-content{
    width: 85%;
    height: 100%;
    padding: 1.4rem;

}


/* ==============================
   ALERT SUCCESS
============================== */
.alert-success {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #6ee7b7;
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 20px;
    transition: opacity 0.4s ease;
}
 